[submodule "src/vim/bundle/neobundle.vim"]
	path = src/vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "src/config/nvim/bundle/neobundle.vim"]
	path = src/config/nvim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
